:root {
  --primary: #1da599;
  --font: #454545;
  --yellow: #ffc265;
  --fonthaj: #4a4a4a;
  --fontnav: #525252;
  --fontbutton: #3f3f3f;
  --colorcontainer: #c1fffa;
}

body {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  overflow-x: hidden;
}

.imglogo {
  width: 143px;
}

.nav-item {
  font-size: 20px;
}
.navbar-nav .nav-item .nav-link {
  color: var(--fontnav);
}
.navbar-nav .nav-item .nav-link.active {
  color: var(--yellow);
  font-weight: bold;
}
.btncontack {
  background-color: #ffc265;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  font-color: var(--fontbutton);
}
.main-title {
  font-size: 54px;
}
.main-content {
  font-size: 24px;
}
.col-lg-6 .hero-img {
  width: 80%;
}
.hero-contener {
  background-color: var(--colorcontainer);
}
