:root {
  --primary: #1da599;
  --font: #454545;
  --yellow: #ffc265;
  --fonthaj: #4a4a4a;
  --fontnav: #525252;
  --fontbutton: #3f3f3f;
  --colorcontainer: #c1fffa;
  --colorfontcontent: #454545;
  --colorconte1: #f3fffe;
}

body {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  overflow-x: hidden;
}

.imglogo {
  width: 143px;
}

.nav-item {
  font-size: 20px;
}
.navbar-nav .nav-item .nav-link {
  color: var(--fontnav);
}
.navbar-nav .nav-item .nav-link.active {
  color: var(--yellow);
  font-weight: bold;
}
.btncontack {
  background-color: #ffc265;
  border: none;
  border-radius: 5px;
  padding: 9px;
  margin: 15px;
  font-size: 16px;
  color: var(--fontbutton);
  tex-decoration: none;
}
.main-title {
  font-size: 54px;
  color: var(--fonthaj);
}
.main-content {
  font-size: 20px;
  font-weight: semibold;
  color: var(--colorfontcontent);
}
.col-lg-6 .hero-img {
  width: 80%;
}
.hero-container {
  background-color: var(--colorcontainer);
  border-radius: 20px;
  padding: 4px;
  width: 25%;
  color: var(--primary);
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .hero-container {
    width: 50%;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .hero-container {
    width: 50%;
  }
}

.conten1 {
  margin-top: 120px;
  background-color: var(--colorconte1);
}

.main-c1ontent1 {
  color: var(--fonthaj);
  font-weight: bold;
  font-size: 54px;
}

.mainsub-content {
  font-size: 20px;
  font-weight: semibold;
  color: var(--colorfontcontent);
}

.flight {
  display: inline-block;
  vertical-align: top; /* Untuk menempatkan elemen secara vertikal ke atas */
  margin-right: 20px; /* Untuk memberikan jarak antara elemen-elemen */
}
.btncontackus {
  border: 2px solid;
  padding: 9px;
  margin: 15px;
  font-size: 16px;
  border-radius: 5px;
  border-color: var(--yellow);
  color: var(--yellow);
}
.btncontackus:hover {
  background-color: var(--yellow);
  color: var(--fontbutton);
  border: 1px solid var(--yellow);
}
.alnasr {
  font-size: 54px;
  font-weight: bold;
}
